.front {
    background-image: linear-gradient(rgba(15, 6, 28, 0.7)),
        url(../image/front1.JPG);
    // background: rgba(213, 0, 249, 0.11);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav {
    &_menu {
        display: flex;
        justify-content: flex-end;

        &_item {
            margin-right: 3vw;
            margin-top: 2vh;
            text-transform: uppercase;
            list-style: none;

            a {
                color: silver;
                font-size: 1.5vw;
                text-decoration: none;
                position: relative;
                transition: all .5s;

                &:hover {
                    color: white;
                }

                &:active {
                    color: white;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0%;
                    height: 2px;
                    background: white;
                    transition: .3s;
                    transform: translateY(.2rem);
                }

                &:hover::after {
                    left: 0;
                    width: 100%;
                }
            }
        }

        &_item.logo {
            margin-right: auto;
            color: silver;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    text-transform: uppercase;
    align-content: center;

    //    min-height: 100vh;
    &_header {
        color: silver;
        font-size: 3vw;
        align-self: center;
    }

    &_content {
        color: white;
        font-size: 1.1vw;
        align-self: center;
        max-width: 50%;
        text-align: center;
        letter-spacing: 1vh;
    }

    form {
        align-self: center;
        margin-top: 10vh;

    }

    &_btn {
        color: white;
        border: 2px solid white;
        border-radius: 4px;
        width: 20vh;
        height: 6vh;
        font-size: 1.1vw;
        text-transform: uppercase;
        background: transparent;
        transition: .5s;
        &:hover{
            color:black;
            font-weight: bold;
            background: white;
        }
    }
}