*,
*::before,
*::after {
  
  box-sizing: border-box;
  font: 10px 'Arimo', sans-serif;
  margin: 0;
}

// @import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap&subset=cyrillic');

@import "media";
@import "front";

h1 {
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.col-large {
  flex: 8;
}

.col-small {
  flex: 4;
  padding: 0 2rem;
}

.item {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  &_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 3vw;
      font-weight: bold;
      margin-bottom: 1rem;
      align-self: flex-start;
    }

    p {
      align-self: flex-start;
      font-size: 1.5vw;
      opacity: .8;
    }

    &_image {
      max-width: 90%;
    }

    &_list {
      // padding-inline-start: 0px;
      // list-style: none;
      align-self: flex-start;

      li {
        font-size: 1.5vw;
        line-height: 6vh;
      }

      &_url {
        margin-top: 2vh;
        font-size: 1.5vw;
        align-self: flex-start;
        text-decoration: none;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0%;
          height: 2px;
          background-color: white;
          transition: .3s;
          transform: translateY(.1rem);
          // transform: scaleX(0);
        }
        &:hover{
          &::after{
            width: 100%;
            left: 0;
            // transform: scaleX(1);
          }
        }
      }

    }

  }
}